Repository reloadware/envo: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, autoflake, check ci

isort:
  name: Sort imports
  entry: .bin/isort
  language: script

black:
  name: Make it black
  entry: .bin/black
  language: script

autoflake:
  name: Autoflake
  entry: .bin/autoflake
  language: script

check ci:
  name: Check CI
  entry: .bin/check_ci
  language: script

WIP
  envo/partial_reloader.py
  tests/unit/test_partial_reload.py
Due: isort, black, autoflake

WIP 2
  envo/__init__.py
  envo/env.py
  envo/logging.py
  envo/partial_reloader.py
  envo/shell.py
  envo/templates/env.py.templ
  poetry.lock
  pyproject.toml
  tests/e2e/test_source_reload/sample_project/carwash/sprayers.py
  tests/e2e/test_source_reload/test_source_reload.py
  tests/e2e/utils.py
  tests/unit/test_partial_reload.py
  tests/utils.py
Due: isort, black, autoflake

Add deletion to partial reload
  envo/env.py
  envo/partial_reloader.py
  tests/conftest.py
  tests/unit/test_partial_reload.py
Due: isort, black, autoflake

Add modules to partial reloader
  envo/misc.py
  envo/partial_reloader.py
  pyproject.toml
  tests/unit/test_partial_reload.py
Due: isort, black, autoflake

Fix flake
  .flake8
  env_local.py
  envo/__init__.py
  envo/devops.py
  envo/env.py
  envo/logging.py
  envo/misc.py
  envo/partial_reloader.py
  envo/plugins.py
  envo/scripts.py
  envo/shell.py
  tests/conftest.py
  tests/e2e/conftest.py
  tests/e2e/test_boot_code.py
  tests/e2e/test_commands.py
  tests/e2e/test_env_variables.py
  tests/e2e/test_history.py
  tests/e2e/test_hotreload.py
  tests/e2e/test_logger.py
  tests/e2e/test_misc.py
  tests/e2e/test_parent_child.py
  tests/e2e/test_source_reload/sample_project/carwash/__init__.py
  tests/e2e/test_source_reload/sample_project/carwash/office/employees.py
  tests/e2e/test_source_reload/sample_project/carwash/sprayers.py
  tests/e2e/test_source_reload/test_source_reload.py
  tests/e2e/utils.py
  tests/unit/conftest.py
  tests/unit/test_commands.py
  tests/unit/test_devops.py
  tests/unit/test_partial_reload.py
  tests/unit/utils.py
  tests/utils.py
Due: isort, black, autoflake

Before manual merge
  pyproject.toml
  tests/e2e/test_source_reload/sample_project/carwash/__init__.py
Due: isort, black, autoflake

Add dependency reloader
  env_comm.py
  envo/__init__.py
  envo/dependency_watcher.py
  envo/env.py
  envo/misc.py
  envo/partial_reloader.py
  pyproject.toml
  tests/conftest.py
  tests/e2e/test_stubs.py
  tests/unit/test_partial_reload.py
Due: isort, black, autoflake

Refactor
  .circleci/config.yml
  env_ci.py
  env_comm.py
  env_local.py
  envo/__init__.py
  envo/dependency_watcher.py
  envo/env.py
  envo/logging.py
  envo/misc.py
  envo/partial_reloader.py
  envo/scripts.py
  envo/shell.py
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/e2e/test_boot_code.py
  tests/e2e/test_commands.py
  tests/e2e/test_source_reload/test_source_reload.py
  tests/e2e/utils.py
  tests/unit/test_partial_reload.py
  tests/utils.py
Due: isort, black, autoflake, check ci

Fix CI
  .circleci/config.yml
  env_ci.py
  pyproject.toml
Due: isort, black, autoflake, check ci

Add loguru
  poetry.lock
  pyproject.toml
Due: none

Bump watchdog
  envo/misc.py
  poetry.lock
  pyproject.toml
Due: isort, black, autoflake

Bump xonsh
  poetry.lock
  pyproject.toml
Due: none

Fix Stdout bug. Fix super() bug
  env_ci.py
  env_comm.py
  envo/__init__.py
  envo/env.py
  envo/logging.py
  envo/misc.py
  envo/shell.py
  pyproject.toml
  tests/conftest.py
  tests/e2e/test_parent_child.py
  tests/e2e/utils.py
Due: isort, black, autoflake

Fix run globstar bug, add cd_back, in_root flags to @command
  .circleci/config.yml
  env_ci.py
  env_comm.py
  env_local.py
  envo/devops.py
  envo/env.py
  envo/templates/env.py.templ
  poetry.lock
  pyproject.toml
  tests/e2e/__init__.py
  tests/e2e/test_commands.py
  tests/e2e/utils.py
Due: isort, black, autoflake, check ci

Handle importing envo stage
  envo/env.py
  pyproject.toml
  tests/unit/test_misc.py
  tests/unit/utils.py
Due: isort, black, autoflake

Add verbose_run flag. Refactor
  env_local.py
  envo/devops.py
  envo/emergency_env.py
  envo/env.py
  envo/plugins.py
  envo/templates/env.py.templ
  pyproject.toml
  tests/e2e/test_run.py
Due: isort, black, autoflake

Add background flag to run function
  README.rst
  envo/devops.py
  pyproject.toml
  tests/e2e/test_run.py
Due: isort, black, autoflake

Add get_env method. Add Test to CI
  env_ci.py
  env_comm.py
  env_local.py
  envo/devops.py
  envo/e2e.py
  envo/env.py
  envo/scripts.py
  envo/status.py
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/e2e/test_get_env.py
  tests/e2e/test_history.py
  tests/e2e/test_hotreload.py
  tests/e2e/test_run.py
  tests/e2e/utils.py
  tests/unit/conftest.py
  tests/unit/utils.py
Due: isort, black, autoflake

Fix get_envo reloading error
  envo/env.py
  pyproject.toml
  tests/e2e/test_get_env.py
Due: isort, black, autoflake

Remove adding pythonpath
  envo/env.py
  pyproject.toml
Due: isort, black, autoflake

Handle sys.path
  envo/env.py
  pyproject.toml
  tests/e2e/test_boot_code.py
  tests/e2e/test_computed_vars.py
  tests/e2e/test_env_variables.py
  tests/e2e/test_pythonpath.py
  tests/e2e/utils.py
  tests/unit/utils.py
  tests/utils.py
Due: isort, black, autoflake

Fix computed property bug
  envo/env.py
  pyproject.toml
  tests/e2e/test_computed_vars.py
  tests/e2e/test_run.py
Due: isort, black, autoflake

Fix python fire quotes bug
  envo/env.py
  pyproject.toml
  tests/e2e/test_commands.py
  tests/e2e/test_computed_vars.py
Due: isort, black, autoflake

Remove SystemError log
  env_local.py
  envo/env.py
  pyproject.toml
  tests/e2e/test_commands.py
Due: isort, black, autoflake

Remove error logging on keyboard interrupt
  env_local.py
  envo/env.py
  pyproject.toml
Due: isort, black, autoflake

Add diagram
  docs/basic_flow.drawio
Due: none

Refactor variable handling
  env_comm.py
  env_localfds.py
  envo/emergency_env.py
  envo/env.py
  envo/scripts.py
  envo/templates/env.py.templ
  tests/e2e/test_commands.py
  tests/e2e/test_computed_vars.py
  tests/e2e/test_env_variables.py
Due: isort, black, autoflake

Refactor envs
  envo/env.py
Due: isort, black, autoflake

Fix tests
  envo/env.py
  tests/e2e/test_boot_code.py
  tests/e2e/test_history.py
  tests/e2e/test_hotreload.py
  tests/e2e/test_misc.py
Due: isort, black, autoflake

[0.9.7.0] Release
  env_comm.py
  pyproject.toml
Due: isort, black, autoflake

Fix CI
  env_ci.py
Due: isort, black, autoflake

Refactor, add VarGroup
  env_comm.py
  env_local.py
  envo/__init__.py
  envo/env.py
  envo/environ.py
  envo/templates/env.py.templ
  pyproject.toml
  tests/e2e/test_activating.py
  tests/e2e/test_commands.py
  tests/e2e/test_computed_vars.py
  tests/e2e/test_env_variables.py
  tests/e2e/test_get_env.py
  tests/e2e/test_hooks.py
  tests/e2e/test_hotreload.py
  tests/e2e/test_logger.py
  tests/e2e/test_misc.py
  tests/e2e/test_plugins.py
  tests/e2e/test_pythonpath.py
  tests/e2e/test_stubs.py
  tests/facade.py
Due: isort, black, autoflake

Add Envium
  env_ci.py
  env_comm.py
  env_local.py
  envo/__init__.py
  envo/emergency_env.py
  envo/env.py
  envo/environ.py
  envo/plugins.py
  envo/scripts.py
  envo/templates/env.py.templ
  poetry.lock
  pyproject.toml
  tests/e2e/test_commands.py
  tests/e2e/test_computed_vars.py
  tests/e2e/test_env_variables.py
  tests/e2e/test_hooks.py
  tests/e2e/test_hotreload.py
  tests/e2e/test_misc.py
  tests/e2e/test_plugins.py
  tests/e2e/test_pythonpath.py
  tests/e2e/test_run.py
  tests/e2e/test_stubs.py
  tests/facade.py
  tests/utils.py
Due: isort, black, autoflake

Fix dataclasses dependency issue
  .circleci/config.yml
  poetry.lock
  pyproject.toml
Due: check ci

Fix Venv pluging bug
  env_ci.py
  env_comm.py
  env_local.py
  envo/plugins.py
  pyproject.toml
  tests/e2e/test_plugins.py
  tests/e2e/utils.py
Due: isort, black, autoflake

Remove Base class from Environ
  env_ci.py
  env_comm.py
  env_local.py
  envo/emergency_env.py
  envo/env.py
  envo/templates/env.py.templ
  pyproject.toml
Due: isort, black, autoflake

Expose import from file
  envo/__init__.py
  envo/misc.py
  envo/templates/env.py.templ
  pyproject.toml
  tests/e2e/test_stubs.py
  tests/facade.py
Due: isort, black, autoflake

Remove jinja2
  env_comm.py
  envo/misc.py
  envo/plugins.py
  envo/scripts.py
  poetry.lock
  pyproject.toml
Due: isort, black, autoflake

Bump envium
  poetry.lock
  pyproject.toml
Due: none

Handle error in context
  envo/env.py
  envo/shell.py
  pyproject.toml
  tests/e2e/test_context.py
Due: isort, black, autoflake

Path conditions:
  isort: any of: .*.py$, but not: .*/templates
  black: any of: .*.py$, but not: .*/templates
  autoflake: any of: .*.py$, but not: .*/templates
  check ci: any of: .circleci/config.yml$, but not: .*/templates
